#body_font {
    font-family: "Josefin Sans", sans-serif;
}

.wall {
    background-image: url(../img/wall.png);
}

.back_img_section {
    background-image: url(../img/cork.png);
    height: 100%;
}

.drop_pos {
    position: relative;
    cursor: pointer;
}

.drop {
    width: 30px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
}

.overview {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px
}

#close_over {
    align-self: flex-end;
    margin-right: 50px;
    font-size: 35px;
    color: white;
}

#close_over:hover {
    transform: scale(120%);
    color: rgba(211, 211, 211, 0.603);
    transition: .300ms;
}

.no-scroll {
    overflow: hidden ;
}

/* .carta:hover {
    transform: scale(1.1);
    rotate: 8deg;
    z-index: 1;
} */


@media (max-width: 992px) {
    .carta:hover {
        transform: scale(1.02);
        rotate: 4deg;
        z-index: 1;
    }
}